USE [master]
GO
/****** Object:  Database [QLHocVienISC]    Script Date: 9/3/2019 10:52:31 AM ******/
CREATE DATABASE [QLHocVienISC]
GO
USE [QLHocVienISC]
GO
/****** Object:  Table [dbo].[CANBO_GIANGVIEN]    Script Date: 9/3/2019 10:52:31 AM ******/
CREATE TABLE [dbo].[CANBO_GIANGVIEN](
	[MACBGV] [nvarchar](250) NOT NULL,
	[HO] [nvarchar](250) NULL,
	[TENLOT] [nvarchar](250) NULL,
	[TEN] [nvarchar](250) NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[NOISINH] [nvarchar](250) NULL,
	[CMND] [int] NULL,
	[SDT] [int] NULL,
	[EMAIL] [nvarchar](250) NULL,
	[DIACHI] [ntext] NULL,
	[LUONG] [int] NULL,
	[HSLUONG] [int] NULL,
	[NGAYVAOLAM] [date] NULL,
	[PASSWORD] [nvarchar](250) NULL,
	[ACCOUNTTYPE] [int] NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MACBGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUYENNGANH]    Script Date: 9/3/2019 10:52:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENNGANH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENCN] [nvarchar](250) NULL,
 CONSTRAINT [PK_CHUYENNGANH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHMUCHOCVIEN]    Script Date: 9/3/2019 10:52:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUCHOCVIEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](250) NULL,
 CONSTRAINT [PK_LOAIHOCVIEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DAOTAO]    Script Date: 9/3/2019 10:52:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAOTAO](
	[MAMH_ID] [nvarchar](250) NOT NULL,
	[CHUYENNGANH_ID] [int] NOT NULL,
 CONSTRAINT [PK_DAOTAO] PRIMARY KEY CLUSTERED 
(
	[MAMH_ID] ASC,
	[CHUYENNGANH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIEMMONHOC]    Script Date: 9/3/2019 10:52:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMMONHOC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAHV] [nvarchar](250) NULL,
	[MAGV] [nvarchar](250) NULL,
	[DIEMGK] [float] NULL,
	[DIEMHP] [float] NULL,
	[MAMH] [nvarchar](250) NULL,
	[NGAYNHAP] [date] NULL,
	[KETQUA] [nvarchar](50) NULL,
 CONSTRAINT [PK_KETQUATHI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOANHNGHIEP]    Script Date: 9/3/2019 10:52:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANHNGHIEP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENDOANHNGHIEP] [nvarchar](250) NULL,
	[DIACHI] [ntext] NULL,
	[SDT] [nvarchar](250) NULL,
 CONSTRAINT [PK_DOANHNGHIEP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GOPY]    Script Date: 9/3/2019 10:52:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOPY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGUOIGOPY] [nvarchar](250) NULL,
	[NOIDUNG] [text] NULL,
	[NGAYNHAN] [date] NULL,
 CONSTRAINT [PK_PHANHOI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOCVIEN]    Script Date: 9/3/2019 10:52:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCVIEN](
	[MAHV] [nvarchar](250) NOT NULL,
	[HO] [nvarchar](250) NULL,
	[TENLOT] [nvarchar](250) NULL,
	[TEN] [nvarchar](250) NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[NOISINH] [nvarchar](250) NULL,
	[CMND] [int] NULL,
	[SDT] [int] NULL,
	[EMAIL] [nvarchar](250) NULL,
	[DIACHI] [ntext] NULL,
	[PASSWORD] [nvarchar](250) NULL,
	[MATRUONG] [nvarchar](250) NULL,
	[ACCOUNTTYPE] [int] NULL,
	[MAKHOAHOC] [nvarchar](250) NULL,
	[TYPE] [int] NULL,
	[TGCOTHEDILAM] [date] NULL,
	[ANHDAIDIEN] [text] NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MAHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOSO]    Script Date: 9/3/2019 10:52:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAHV] [nvarchar](250) NULL,
	[BANGDIEM] [bit] NULL,
	[CMND] [bit] NULL,
	[DATCOC] [bit] NULL,
	[HINHANH] [bit] NULL,
	[CHUTHICH] [ntext] NULL,
 CONSTRAINT [PK_HOSO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOAHOC]    Script Date: 9/3/2019 10:52:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOAHOC](
	[MAKHOAHOC] [nvarchar](250) NOT NULL,
	[TENKHOAHOC] [nvarchar](250) NULL,
	[NGAYBD] [date] NULL,
	[NGAYKT] [date] NULL,
	[CHUYENNGANH_ID] [int] NULL,
 CONSTRAINT [PK_KHOAHOC] PRIMARY KEY CLUSTERED 
(
	[MAKHOAHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAITAIKHOAN]    Script Date: 9/3/2019 10:52:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITAIKHOAN](
	[ID] [int] NOT NULL,
	[TENLOAI] [nvarchar](250) NULL,
 CONSTRAINT [PK_LOAITK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 9/3/2019 10:52:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nvarchar](250) NOT NULL,
	[TENMH] [nvarchar](250) NULL,
	[SOGIO] [int] NULL,
	[SOTC] [int] NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIHUONGDAN]    Script Date: 9/3/2019 10:52:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIHUONGDAN](
	[MANGUOIHDAN] [int] IDENTITY(1,1) NOT NULL,
	[HO] [nvarchar](250) NULL,
	[TENLOT] [nvarchar](250) NULL,
	[TEN] [nvarchar](250) NULL,
	[SDT] [nvarchar](250) NULL,
	[EMAIL] [nvarchar](250) NULL,
	[TRUONG] [nvarchar](250) NULL,
 CONSTRAINT [PK_NGUOIHUONGDAN] PRIMARY KEY CLUSTERED 
(
	[MANGUOIHDAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIQUANLY]    Script Date: 9/3/2019 10:52:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIQUANLY](
	[MANQL] [nvarchar](250) NOT NULL,
	[HO] [nvarchar](250) NULL,
	[TENLOT] [nvarchar](250) NULL,
	[TEN] [nvarchar](250) NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[NOISINH] [nvarchar](250) NULL,
	[CMND] [int] NULL,
	[SDT] [int] NULL,
	[EMAIL] [nvarchar](250) NULL,
	[DIACHI] [ntext] NULL,
	[LUONG] [int] NULL,
	[HSLUONG] [int] NULL,
	[NGAYVAOLAM] [date] NULL,
	[PASSWORD] [nvarchar](250) NULL,
	[ACCOUNTTYPE] [int] NULL,
 CONSTRAINT [PK_NGUOIQUANLY] PRIMARY KEY CLUSTERED 
(
	[MANQL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONGHOC]    Script Date: 9/3/2019 10:52:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGHOC](
	[MAPHG] [nvarchar](250) NOT NULL,
	[TENPHG] [nvarchar](250) NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TINHNANG]    Script Date: 9/3/2019 10:52:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHNANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENMENU] [nvarchar](250) NULL,
	[LINK] [nvarchar](250) NULL,
	[TYPE] [int] NULL,
 CONSTRAINT [PK_MENU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THOIKHOABIEU]    Script Date: 9/3/2019 10:52:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THOIKHOABIEU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAKHOAHOC] [nvarchar](250) NULL,
	[MACBGV] [nvarchar](250) NULL,
	[MAMH] [nvarchar](250) NULL,
	[MAPHG] [nvarchar](250) NULL,
	[GIOBD] [time](7) NULL,
	[GIOKT] [time](7) NULL,
	[NGAYHOC] [date] NULL,
 CONSTRAINT [PK_TKBSV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THONGBAO]    Script Date: 9/3/2019 10:52:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGBAO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIEUDE] [nvarchar](250) NULL,
	[NOIDUNG] [text] NULL,
	[NGUOIDANG] [nvarchar](250) NULL,
	[NGAYDANG] [date] NULL,
	[MAKHOAHOC] [nvarchar](250) NULL,
 CONSTRAINT [PK_THONGBAO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRUONGHOC]    Script Date: 9/3/2019 10:52:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRUONGHOC](
	[MATRUONG] [nvarchar](250) NOT NULL,
	[TENTRUONG] [nvarchar](250) NULL,
	[DIACHI] [ntext] NULL,
	[SDT] [nvarchar](250) NULL,
 CONSTRAINT [PK_TRUONGHOC_1] PRIMARY KEY CLUSTERED 
(
	[MATRUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[CANBO_GIANGVIEN] ([MACBGV], [HO], [TENLOT], [TEN], [GIOITINH], [NGAYSINH], [NOISINH], [CMND], [SDT], [EMAIL], [DIACHI], [LUONG], [HSLUONG], [NGAYVAOLAM], [PASSWORD], [ACCOUNTTYPE]) VALUES (N'CNTT01', N'HÀ', N'THANH', N'LIÊM', N'Nam', CAST(N'1980-01-01' AS Date), N'Bình Dương', 281108633, 333839299, N'gvcntt@gmail.com', N'Bình Dương', 12000000, 3, CAST(N'2019-08-20' AS Date), N'gv001', 1)
INSERT [dbo].[CANBO_GIANGVIEN] ([MACBGV], [HO], [TENLOT], [TEN], [GIOITINH], [NGAYSINH], [NOISINH], [CMND], [SDT], [EMAIL], [DIACHI], [LUONG], [HSLUONG], [NGAYVAOLAM], [PASSWORD], [ACCOUNTTYPE]) VALUES (N'CNTT02', N'ÐINH', N'THANH', N'SƠN', N'Nam', CAST(N'1980-01-01' AS Date), N'Bình Dương', 281108633, 333839299, N'gvcntt@gmail.com', N'Bình Dương', 12000000, 3, CAST(N'2019-08-20' AS Date), N'gv001', 2)
INSERT [dbo].[CANBO_GIANGVIEN] ([MACBGV], [HO], [TENLOT], [TEN], [GIOITINH], [NGAYSINH], [NOISINH], [CMND], [SDT], [EMAIL], [DIACHI], [LUONG], [HSLUONG], [NGAYVAOLAM], [PASSWORD], [ACCOUNTTYPE]) VALUES (N'CNTT03', N'NGUYỄN', N'THANH', N'PHƯỚC', N'Nam', CAST(N'1980-01-01' AS Date), N'Bình Dương', 281108633, 333839299, N'gvcntt@gmail.com', N'Bình Dương', 12000000, 3, CAST(N'2019-08-20' AS Date), N'gv001', 2)
SET IDENTITY_INSERT [dbo].[CHUYENNGANH] ON 

INSERT [dbo].[CHUYENNGANH] ([ID], [TENCN]) VALUES (1, N'WEB APPLICATION DEVELOPMENT USING .NET')
INSERT [dbo].[CHUYENNGANH] ([ID], [TENCN]) VALUES (2, N'WEB APPLICATION DEVELOPMENT USING JAVA')
INSERT [dbo].[CHUYENNGANH] ([ID], [TENCN]) VALUES (3, N'WEB APPLICATION DEVELOPMENT USING NODE .JS')
SET IDENTITY_INSERT [dbo].[CHUYENNGANH] OFF
SET IDENTITY_INSERT [dbo].[DANHMUCHOCVIEN] ON 

INSERT [dbo].[DANHMUCHOCVIEN] ([ID], [TENLOAI]) VALUES (1, N'Học bổng')
INSERT [dbo].[DANHMUCHOCVIEN] ([ID], [TENLOAI]) VALUES (2, N'Học Phí')
SET IDENTITY_INSERT [dbo].[DANHMUCHOCVIEN] OFF
INSERT [dbo].[DAOTAO] ([MAMH_ID], [CHUYENNGANH_ID]) VALUES (N'G01', 1)
INSERT [dbo].[DAOTAO] ([MAMH_ID], [CHUYENNGANH_ID]) VALUES (N'G01', 2)
INSERT [dbo].[DAOTAO] ([MAMH_ID], [CHUYENNGANH_ID]) VALUES (N'G01', 3)
SET IDENTITY_INSERT [dbo].[DOANHNGHIEP] ON 

INSERT [dbo].[DOANHNGHIEP] ([ID], [TENDOANHNGHIEP], [DIACHI], [SDT]) VALUES (1, N'TMA Solutions Lab 6', N'Toà nhà TMA, Công viên phần mềm Quang Trung, P. Tân Chánh Hiệp, Quận 12', N'02839978000')
INSERT [dbo].[DOANHNGHIEP] ([ID], [TENDOANHNGHIEP], [DIACHI], [SDT]) VALUES (2, N'Hội tin học Tp.HCM', N'Tòa nhà Liên hiệp các Hội Khoa học và Kỹ thuật TP.HCM
224 Điện Biên Phủ, P.7, Q.3, TP.HCM (Tầng 9)', N'02839320999')
INSERT [dbo].[DOANHNGHIEP] ([ID], [TENDOANHNGHIEP], [DIACHI], [SDT]) VALUES (3, N'Global CyberSoft (Vietnam) JSC', N'Helios Building, Công viên Phần mềm Quang Trung, Quận 12, Hồ Chí Minh', N'02854371199')
SET IDENTITY_INSERT [dbo].[DOANHNGHIEP] OFF
INSERT [dbo].[HOCVIEN] ([MAHV], [HO], [TENLOT], [TEN], [GIOITINH], [NGAYSINH], [NOISINH], [CMND], [SDT], [EMAIL], [DIACHI], [PASSWORD], [MATRUONG], [ACCOUNTTYPE], [MAKHOAHOC], [TYPE], [TGCOTHEDILAM], [ANHDAIDIEN]) VALUES (N'ISC09-19-0-2015', N'NGUYỄN', N'CHẾ', N'LINH', N'Nam', CAST(N'1997-04-14' AS Date), N'Bình Dương', 281100604, 974281710, N'chelinh610@gmail.com', N'TP. Thủ Dầu Một, Bình Dương', N'linh123', N'TDM', 0, N'ISC09', 2, CAST(N'2021-07-01' AS Date), N'avatar.png')
INSERT [dbo].[HOCVIEN] ([MAHV], [HO], [TENLOT], [TEN], [GIOITINH], [NGAYSINH], [NOISINH], [CMND], [SDT], [EMAIL], [DIACHI], [PASSWORD], [MATRUONG], [ACCOUNTTYPE], [MAKHOAHOC], [TYPE], [TGCOTHEDILAM], [ANHDAIDIEN]) VALUES (N'ISC09-19-0-2021', N'NGUYỄN', N'ĐỨC', N'NAM', N'Nam', CAST(N'1997-04-14' AS Date), N'Bình Dương', 281100601, 868212741, N'namgaxilem@gmail.com', N'TP. Thủ Dầu Một, Bình Dương', N'nam123', N'TDM', 0, N'ISC09', 2, CAST(N'2021-07-01' AS Date), N'avatar.png')
INSERT [dbo].[HOCVIEN] ([MAHV], [HO], [TENLOT], [TEN], [GIOITINH], [NGAYSINH], [NOISINH], [CMND], [SDT], [EMAIL], [DIACHI], [PASSWORD], [MATRUONG], [ACCOUNTTYPE], [MAKHOAHOC], [TYPE], [TGCOTHEDILAM], [ANHDAIDIEN]) VALUES (N'ISC09-19-0-2025', N'TRẦN', N'VĨNH', N'PHƯỚC', N'Nam', CAST(N'1997-04-14' AS Date), N'Bình Dương', 281100602, 707527903, N'tvphuoc1996@gmail.com', N'TP. Thủ Dầu Một, Bình Dương', N'phuoc123', N'TDM', 0, N'ISC09', 2, CAST(N'2021-07-01' AS Date), N'avatar.png')
INSERT [dbo].[KHOAHOC] ([MAKHOAHOC], [TENKHOAHOC], [NGAYBD], [NGAYKT], [CHUYENNGANH_ID]) VALUES (N'ISC09', N'Intake 09 ', CAST(N'2019-06-01' AS Date), CAST(N'2019-09-01' AS Date), 2)
INSERT [dbo].[KHOAHOC] ([MAKHOAHOC], [TENKHOAHOC], [NGAYBD], [NGAYKT], [CHUYENNGANH_ID]) VALUES (N'ISC10', N'Intake 10 ', CAST(N'2019-07-01' AS Date), CAST(N'2019-10-01' AS Date), 5)
INSERT [dbo].[KHOAHOC] ([MAKHOAHOC], [TENKHOAHOC], [NGAYBD], [NGAYKT], [CHUYENNGANH_ID]) VALUES (N'ISC11', N'Intake 11 ', CAST(N'2019-08-01' AS Date), CAST(N'2019-11-01' AS Date), 6)
INSERT [dbo].[LOAITAIKHOAN] ([ID], [TENLOAI]) VALUES (0, N'Sinh viên')
INSERT [dbo].[LOAITAIKHOAN] ([ID], [TENLOAI]) VALUES (1, N'Giảng viên')
INSERT [dbo].[LOAITAIKHOAN] ([ID], [TENLOAI]) VALUES (2, N'Quản trị hệ thống')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOGIO], [SOTC]) VALUES (N'G01', N'Working Process', 12, 1)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOGIO], [SOTC]) VALUES (N'G02', N'Critical Thinking', 24, 1)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOGIO], [SOTC]) VALUES (N'G03', N'Professional Speaking', 24, 1)
SET IDENTITY_INSERT [dbo].[NGUOIHUONGDAN] ON 

INSERT [dbo].[NGUOIHUONGDAN] ([MANGUOIHDAN], [HO], [TENLOT], [TEN], [SDT], [EMAIL], [TRUONG]) VALUES (1, N'VÕ', N'QUỐC', N'LƯƠNG', N'0988936592', N'luongvq@tdmu.edu.vn', N'TDM')
INSERT [dbo].[NGUOIHUONGDAN] ([MANGUOIHDAN], [HO], [TENLOT], [TEN], [SDT], [EMAIL], [TRUONG]) VALUES (2, N'NGUYỄN', N'TẤN', N'LỘC', N'0914290456', N'locnt@tdmu.edu.vn ', N'TDM')
SET IDENTITY_INSERT [dbo].[NGUOIHUONGDAN] OFF
INSERT [dbo].[PHONGHOC] ([MAPHG], [TENPHG]) VALUES (N'QT-L609', N'QT-L609')
INSERT [dbo].[PHONGHOC] ([MAPHG], [TENPHG]) VALUES (N'QT-R203', N'QT-R203')
INSERT [dbo].[PHONGHOC] ([MAPHG], [TENPHG]) VALUES (N'QT-R205', N'QT-R205')
SET IDENTITY_INSERT [dbo].[TINHNANG] ON 

INSERT [dbo].[TINHNANG] ([ID], [TENMENU], [LINK], [TYPE]) VALUES (1, N'Nhập điểm', N'#', 1)
INSERT [dbo].[TINHNANG] ([ID], [TENMENU], [LINK], [TYPE]) VALUES (2, N'Thời khoá biểu', N'#', 1)
INSERT [dbo].[TINHNANG] ([ID], [TENMENU], [LINK], [TYPE]) VALUES (3, N'Thông tin cá nhân', N'#', 1)
SET IDENTITY_INSERT [dbo].[TINHNANG] OFF
SET IDENTITY_INSERT [dbo].[THOIKHOABIEU] ON 

INSERT [dbo].[THOIKHOABIEU] ([ID], [MAKHOAHOC], [MACBGV], [MAMH], [MAPHG], [GIOBD], [GIOKT], [NGAYHOC]) VALUES (1, N'ISC09', N'CNTT03', N'G07', N'QT-L609', CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time), CAST(N'2019-08-13' AS Date))
INSERT [dbo].[THOIKHOABIEU] ([ID], [MAKHOAHOC], [MACBGV], [MAMH], [MAPHG], [GIOBD], [GIOKT], [NGAYHOC]) VALUES (2, N'ISC09', N'CNTT03', N'J01', N'QT-L609', CAST(N'13:00:00' AS Time), CAST(N'17:00:00' AS Time), CAST(N'2019-08-13' AS Date))
INSERT [dbo].[THOIKHOABIEU] ([ID], [MAKHOAHOC], [MACBGV], [MAMH], [MAPHG], [GIOBD], [GIOKT], [NGAYHOC]) VALUES (3, N'ISC09', N'CNTT02', N'OJ1', N'QT-L609', CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time), CAST(N'2019-08-14' AS Date))
SET IDENTITY_INSERT [dbo].[THOIKHOABIEU] OFF
INSERT [dbo].[TRUONGHOC] ([MATRUONG], [TENTRUONG], [DIACHI], [SDT]) VALUES (N'DCG', N'ĐẠI HỌC GIA ĐỊNH', N'185 -187 Hoàng Văn Thụ, P.8, Q. Phú Nhuận, Tp HCM', N'0333839298')
INSERT [dbo].[TRUONGHOC] ([MATRUONG], [TENTRUONG], [DIACHI], [SDT]) VALUES (N'TDM', N'ĐẠI HỌC THỦ DẦU MỘT', N'185 -187 Hoàng Văn Thụ, P.8, Q. Phú Nhuận, Tp HCM', N'0333839298')
ALTER TABLE [dbo].[CANBO_GIANGVIEN] ADD  CONSTRAINT [DF_GIAOVIEN_TYPE]  DEFAULT ((1)) FOR [ACCOUNTTYPE]
GO
ALTER TABLE [dbo].[HOCVIEN] ADD  CONSTRAINT [DF_SINHVIEN_TYPE]  DEFAULT ((0)) FOR [ACCOUNTTYPE]
GO
ALTER TABLE [dbo].[HOCVIEN] ADD  CONSTRAINT [DF_HOCVIEN_TYPE]  DEFAULT ((2)) FOR [TYPE]
GO
ALTER TABLE [dbo].[HOSO] ADD  CONSTRAINT [DF_HOSO_BANGDIEM]  DEFAULT ((0)) FOR [BANGDIEM]
GO
ALTER TABLE [dbo].[HOSO] ADD  CONSTRAINT [DF_HOSO_CMND]  DEFAULT ((0)) FOR [CMND]
GO
ALTER TABLE [dbo].[HOSO] ADD  CONSTRAINT [DF_HOSO_DATCOC]  DEFAULT ((0)) FOR [DATCOC]
GO
ALTER TABLE [dbo].[HOSO] ADD  CONSTRAINT [DF_HOSO_HINHANH]  DEFAULT ((0)) FOR [HINHANH]
GO
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [DF_MONHOC_SOTC]  DEFAULT ((0)) FOR [SOTC]
GO
ALTER TABLE [dbo].[CANBO_GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FKp777otmct04ylc02q04iero29] FOREIGN KEY([ACCOUNTTYPE])
REFERENCES [dbo].[LOAITAIKHOAN] ([ID])
GO
ALTER TABLE [dbo].[CANBO_GIANGVIEN] CHECK CONSTRAINT [FKp777otmct04ylc02q04iero29]
GO
ALTER TABLE [dbo].[DAOTAO]  WITH CHECK ADD  CONSTRAINT [FKfdk3oaq918me43yrb23yximvc] FOREIGN KEY([CHUYENNGANH_ID])
REFERENCES [dbo].[CHUYENNGANH] ([ID])
GO
ALTER TABLE [dbo].[DAOTAO] CHECK CONSTRAINT [FKfdk3oaq918me43yrb23yximvc]
GO
ALTER TABLE [dbo].[DAOTAO]  WITH CHECK ADD  CONSTRAINT [FKnkn34tryajgh6xunfsqggtbg] FOREIGN KEY([MAMH_ID])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[DAOTAO] CHECK CONSTRAINT [FKnkn34tryajgh6xunfsqggtbg]
GO
ALTER TABLE [dbo].[DIEMMONHOC]  WITH CHECK ADD  CONSTRAINT [FKgjy3guhk1hri7ihndcqieitfl] FOREIGN KEY([MAHV])
REFERENCES [dbo].[HOCVIEN] ([MAHV])
GO
ALTER TABLE [dbo].[DIEMMONHOC] CHECK CONSTRAINT [FKgjy3guhk1hri7ihndcqieitfl]
GO
ALTER TABLE [dbo].[DIEMMONHOC]  WITH CHECK ADD  CONSTRAINT [FKmuhrt1kf47yqs5dwom24o7rsv] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[DIEMMONHOC] CHECK CONSTRAINT [FKmuhrt1kf47yqs5dwom24o7rsv]
GO
ALTER TABLE [dbo].[DIEMMONHOC]  WITH CHECK ADD  CONSTRAINT [FKp97lot66bol7ppmul6m1shwec] FOREIGN KEY([MAGV])
REFERENCES [dbo].[CANBO_GIANGVIEN] ([MACBGV])
GO
ALTER TABLE [dbo].[DIEMMONHOC] CHECK CONSTRAINT [FKp97lot66bol7ppmul6m1shwec]
GO
ALTER TABLE [dbo].[GOPY]  WITH CHECK ADD  CONSTRAINT [FKenrmpmdp1kv9kapuo04vlycpo] FOREIGN KEY([NGUOIGOPY])
REFERENCES [dbo].[HOCVIEN] ([MAHV])
GO
ALTER TABLE [dbo].[GOPY] CHECK CONSTRAINT [FKenrmpmdp1kv9kapuo04vlycpo]
GO
ALTER TABLE [dbo].[HOCVIEN]  WITH CHECK ADD  CONSTRAINT [FK3gci666i5hvjscbhiynlgyoko] FOREIGN KEY([MAKHOAHOC])
REFERENCES [dbo].[KHOAHOC] ([MAKHOAHOC])
GO
ALTER TABLE [dbo].[HOCVIEN] CHECK CONSTRAINT [FK3gci666i5hvjscbhiynlgyoko]
GO
ALTER TABLE [dbo].[HOCVIEN]  WITH CHECK ADD  CONSTRAINT [FK5ccgvsl46pqg9ba4rx79tx9s2] FOREIGN KEY([MATRUONG])
REFERENCES [dbo].[TRUONGHOC] ([MATRUONG])
GO
ALTER TABLE [dbo].[HOCVIEN] CHECK CONSTRAINT [FK5ccgvsl46pqg9ba4rx79tx9s2]
GO
ALTER TABLE [dbo].[HOCVIEN]  WITH CHECK ADD  CONSTRAINT [FKlihs0dtma17l8odr7hncwujrc] FOREIGN KEY([TYPE])
REFERENCES [dbo].[DANHMUCHOCVIEN] ([ID])
GO
ALTER TABLE [dbo].[HOCVIEN] CHECK CONSTRAINT [FKlihs0dtma17l8odr7hncwujrc]
GO
ALTER TABLE [dbo].[HOCVIEN]  WITH CHECK ADD  CONSTRAINT [FKo4gtxlde3ymowdf53vptufxej] FOREIGN KEY([ACCOUNTTYPE])
REFERENCES [dbo].[LOAITAIKHOAN] ([ID])
GO
ALTER TABLE [dbo].[HOCVIEN] CHECK CONSTRAINT [FKo4gtxlde3ymowdf53vptufxej]
GO
ALTER TABLE [dbo].[HOSO]  WITH CHECK ADD  CONSTRAINT [FKqjvineejb4k05nx626irjhq0n] FOREIGN KEY([MAHV])
REFERENCES [dbo].[HOCVIEN] ([MAHV])
GO
ALTER TABLE [dbo].[HOSO] CHECK CONSTRAINT [FKqjvineejb4k05nx626irjhq0n]
GO
ALTER TABLE [dbo].[KHOAHOC]  WITH CHECK ADD  CONSTRAINT [FK6m7tqhse1u91hd5cb066e3eg8] FOREIGN KEY([CHUYENNGANH_ID])
REFERENCES [dbo].[CHUYENNGANH] ([ID])
GO
ALTER TABLE [dbo].[KHOAHOC] CHECK CONSTRAINT [FK6m7tqhse1u91hd5cb066e3eg8]
GO
ALTER TABLE [dbo].[NGUOIHUONGDAN]  WITH CHECK ADD  CONSTRAINT [FKth17iaf5e0fq3fbvdouxu58fw] FOREIGN KEY([TRUONG])
REFERENCES [dbo].[TRUONGHOC] ([MATRUONG])
GO
ALTER TABLE [dbo].[NGUOIHUONGDAN] CHECK CONSTRAINT [FKth17iaf5e0fq3fbvdouxu58fw]
GO
ALTER TABLE [dbo].[NGUOIQUANLY]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIQUANLY_LOAITAIKHOAN] FOREIGN KEY([ACCOUNTTYPE])
REFERENCES [dbo].[LOAITAIKHOAN] ([ID])
GO
ALTER TABLE [dbo].[NGUOIQUANLY] CHECK CONSTRAINT [FK_NGUOIQUANLY_LOAITAIKHOAN]
GO
ALTER TABLE [dbo].[NGUOIQUANLY]  WITH CHECK ADD  CONSTRAINT [FK1xuih0pm4370pyp3bgili4csu] FOREIGN KEY([ACCOUNTTYPE])
REFERENCES [dbo].[LOAITAIKHOAN] ([ID])
GO
ALTER TABLE [dbo].[NGUOIQUANLY] CHECK CONSTRAINT [FK1xuih0pm4370pyp3bgili4csu]
GO
ALTER TABLE [dbo].[TINHNANG]  WITH CHECK ADD  CONSTRAINT [FK7834yo1f76794nuja6jva28y9] FOREIGN KEY([TYPE])
REFERENCES [dbo].[LOAITAIKHOAN] ([ID])
GO
ALTER TABLE [dbo].[TINHNANG] CHECK CONSTRAINT [FK7834yo1f76794nuja6jva28y9]
GO
ALTER TABLE [dbo].[THOIKHOABIEU]  WITH CHECK ADD  CONSTRAINT [FK1y7cjui1swcgmu641ev7v7qef] FOREIGN KEY([MACBGV])
REFERENCES [dbo].[CANBO_GIANGVIEN] ([MACBGV])
GO
ALTER TABLE [dbo].[THOIKHOABIEU] CHECK CONSTRAINT [FK1y7cjui1swcgmu641ev7v7qef]
GO
ALTER TABLE [dbo].[THOIKHOABIEU]  WITH CHECK ADD  CONSTRAINT [FK85o7dtus03y14nac26ume42po] FOREIGN KEY([MAKHOAHOC])
REFERENCES [dbo].[KHOAHOC] ([MAKHOAHOC])
GO
ALTER TABLE [dbo].[THOIKHOABIEU] CHECK CONSTRAINT [FK85o7dtus03y14nac26ume42po]
GO
ALTER TABLE [dbo].[THOIKHOABIEU]  WITH CHECK ADD  CONSTRAINT [FKbklydvitut3ns9qnw2pbe0yjj] FOREIGN KEY([MAPHG])
REFERENCES [dbo].[PHONGHOC] ([MAPHG])
GO
ALTER TABLE [dbo].[THOIKHOABIEU] CHECK CONSTRAINT [FKbklydvitut3ns9qnw2pbe0yjj]
GO
ALTER TABLE [dbo].[THOIKHOABIEU]  WITH CHECK ADD  CONSTRAINT [FKreyptgl65fuxbiioy1x8tipv9] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[THOIKHOABIEU] CHECK CONSTRAINT [FKreyptgl65fuxbiioy1x8tipv9]
GO
ALTER TABLE [dbo].[THONGBAO]  WITH CHECK ADD  CONSTRAINT [FKe0vj6htsvbnu4n9us9bn4ff6t] FOREIGN KEY([MAKHOAHOC])
REFERENCES [dbo].[KHOAHOC] ([MAKHOAHOC])
GO
ALTER TABLE [dbo].[THONGBAO] CHECK CONSTRAINT [FKe0vj6htsvbnu4n9us9bn4ff6t]
GO
ALTER TABLE [dbo].[THONGBAO]  WITH CHECK ADD  CONSTRAINT [FKoswddi79v1apcax2e567ott1j] FOREIGN KEY([NGUOIDANG])
REFERENCES [dbo].[CANBO_GIANGVIEN] ([MACBGV])
GO
ALTER TABLE [dbo].[THONGBAO] CHECK CONSTRAINT [FKoswddi79v1apcax2e567ott1j]
GO
ALTER TABLE [dbo].[THONGBAO]  WITH CHECK ADD  CONSTRAINT [FKp6b6mwb3xp8lukongvx2vrkg6] FOREIGN KEY([NGUOIDANG])
REFERENCES [dbo].[NGUOIQUANLY] ([MANQL])
GO
ALTER TABLE [dbo].[THONGBAO] CHECK CONSTRAINT [FKp6b6mwb3xp8lukongvx2vrkg6]
GO
USE [master]
GO
